/** Thumbnail */
.category-section {
    padding-top: 50px;
    padding-right: 10px;
    margin: 0;
}

/* Thumbnail */
.thumbnail {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    border: 10px solid white;
}

.thumbnail:hover {
    opacity: 50%;
}

.thumbnail img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 75%;
}

/* Big Thumbnail */
.big-thumbnail {
    height: 420px;
    background: #005f69;
    background: -moz-linear-gradient(top, #005f69 0%, #ffffff 50%, #f26f33 100%);
    background: -webkit-linear-gradient(top,
            #005f69 0%,
            #ffffff 50%,
            #f26f33 100%);
    background: linear-gradient(to bottom, #005f69 0%, #ffffff 50%, #f26f33 100%);
}

.big-thumbnail img {
    padding: 50px;
}

/* Small Thumbnail */
.small-thumbnail {
    height: 210px;
}

.small-thumbnail img {
    padding: 30px;
    height: 150px;
}

.small-thumbnail-first {
    background: #f26f33;
    background: -moz-linear-gradient(top, #f26f33 0%, #ffffff 90%, #ffffff 100%);
    background: -webkit-linear-gradient(top,
            #f26f33 0%,
            #ffffff 90%,
            #ffffff 100%);
    background: linear-gradient(to bottom, #f26f33 0%, #ffffff 90%, #ffffff 100%);
}

.small-thumbnail-second {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #005f69 100%);
    background: -webkit-linear-gradient(top,
            #ffffff 0%,
            #ffffff 10%,
            #005f69 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 10%, #005f69 100%);
}

.small-thumbnail-third {
    background: #005f69;
    background: -moz-linear-gradient(top, #005f69 0%, #ffffff 90%, #ffffff 100%);
    background: -webkit-linear-gradient(top,
            #005f69 0%,
            #ffffff 90%,
            #ffffff 100%);
    background: linear-gradient(to bottom, #005f69 0%, #ffffff 90%, #ffffff 100%);
}

.small-thumbnail-fourth {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 10%, #f26f33 100%);
    background: -webkit-linear-gradient(top,
            #ffffff 0%,
            #ffffff 10%,
            #f26f33 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 10%, #f26f33 100%);
}

/* Chú thích */
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
    color: white;
    text-shadow: 1px 2px 2px #000000;
    font-size: 2rem;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.caption h2 {
    color: white;
}

#danhmucsp-content {
    margin-top: 50px;
}

/* Tên loại sản phẩm */
#tenloaisp {
    display: inline-block;
    background-color: #f26f33;
    padding: 10px 30px;
    color: white;
    text-shadow: -1px -1px 0 #005f69, 1px -1px 0 #005f69, -2px 2px 0 #005f69, 2px 2px 0 #005f69;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Tiêu đề thẻ */
.card-title {
    font-family: "Asul", serif;
    font-weight: 400;
    font-style: normal;
    overflow: hidden;
    /* Ẩn phần văn bản tràn */
    text-overflow: ellipsis;
    /* Thêm dấu ba chấm khi tràn văn bản */
    white-space: nowrap;
    /* Ngăn không cho văn bản xuống dòng */
}

/* Thẻ sản phẩm */
.card {
    width: 100%;
    max-width: 300px;
    height: 100%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Hình ảnh sản phẩm */
.product-img {
    width: 100%;
    height: 200px;
    object-fit: fill;
}

/* Huy hiệu giảm giá */
.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff4d4d;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* Bộ lọc sản phẩm */
#productFilter {
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
    transition: all 0.5s ease;
    /* Hiệu ứng mượt khi thay đổi kích thước */
}

@media (min-width: 768px) {
    #productFilter {
        margin: 20px 0;
    }
}