/* Thư viên fonts */
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css2?family=Anton');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@380&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Đặt kích thước font cho thẻ body và tùy chỉnh thanh cuộn */
body {

    /* Tùy chỉnh chiều rộng của thanh cuộn */
    &::-webkit-scrollbar {
        width: 6px;
    }

    /* Tùy chỉnh màu nền của track thanh cuộn */
    &::-webkit-scrollbar-track {
        background-color: #fafafa;
    }

    /* Tùy chỉnh màu và bo góc của thumb thanh cuộn */
    &::-webkit-scrollbar-thumb {
        background-image: linear-gradient(-45deg, #084147FF, #005f69);
    }
}

/* Outlet của 1 trang web (base) */
.outlet {
    min-height: 100vh;
    padding: 0;
}