/* CSS body trang web */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;

}

/* CSS cho h1 */
h1 {
    text-align: center;
    color: #000000;
    margin-top: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}

#add-discount-form {
    margin-left: 5px; /* Thêm khoảng cách bên trái 5px */
    margin-bottom: 20px; /* Thêm khoảng cách bên dưới 20px */
    background: #fff; /* Đặt màu nền là màu trắng */
    padding: 20px; /* Thêm khoảng cách bên trong 20px */
    border-radius: 5px; /* Bo tròn các góc với bán kính 5px */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Thêm bóng đổ với độ mờ 10px và màu đen nhạt 10% */
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* CSS nút action */
.action-button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

/* CSS khi hover nút */
button:hover {
    background: #218838;
}

/* CSS cho bảng */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: 5px; /* Điều chỉnh khoảng cách bên phải */
}

th,
td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background: #f8f9fa;
    text-align: center;
}

/* CSS cho message */
.message {
    display: none;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}

/* CSS cho lỗi */
.error {
    background-color: #f8d7da;
    color: #721c24;
}

/* CSS cho thành công */
.success {
    background-color: #d4edda;
    color: #155724;
}

/* CSS cho modal */
.modal {
    display: none; /* Ẩn modal mặc định */
    position: fixed; /* Đặt modal ở vị trí cố định */
    z-index: 1000; /* Đảm bảo modal nằm trên tất cả các phần tử khác */
    left: 0;
    top: 0;
    width: 100%; /* Toàn bộ chiều rộng */
    height: 100%; /* Toàn bộ chiều cao */
    overflow: auto; /* Bật cuộn nếu cần */
    background-color: rgba(0, 0, 0, 0.4); /* Màu nền nửa trong suốt */
}

/* CSS cho nội dung modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% từ trên và giữa theo chiều ngang */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Chiều rộng của modal */
    max-width: 600px; /* Chiều rộng tối đa */
    border-radius: 5px; /* Bo góc */
}

/* Nút tắt */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}