/* Container  */
.quenMK-container {
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
}

/* Tiêu đề */
.title {
    display: flex;
    justify-content: center;
}

.title h1 {
    font-family: "Anton SC", system-ui;
    font-weight: 300;
    text-align: center;
    font-size: 32px;
    background-color: #005F69CC;
    width: fit-content;
    padding: 30px 40px;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.482)
}

/* Kiểu dáng form */
.form-quenmk {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    width: 100%;
}

.form-quenmk label {
    font-size: 16px;
    color: black;
}

.form-quenmk input[type="email"],
.form-quenmk input[type="password"] {
    width: 100%;
    padding: 10px;
    background-color: #d9d9d96a;
    border: 2px solid #005F69;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Roboto Slab", system-ui;
    color: black;
}

.form-quenmk .buttons {
    display: flex;
    justify-content: center;
}

/* Nút xác nhận */
.confirm-btn {
    width: 160px;
    padding: 15px 20px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
    font-family: "Anton SC", system-ui;
    background-color: #F26F33;
    color: white;
    cursor: pointer;
    text-align: center;
    text-shadow: 1px 1px 0 #336c72, -1px -1px 0 #336c72, 1px -1px 0 #336c72, -1px 1px 0 #336c72;
    box-shadow: 0px 0px 10px rgba(62, 62, 62, 0.215);
}

/* Kiểu văn bản lỗi */
.error-message {
    color: red;
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}

/* Responsive styles */
@media (max-width: 1440px) {
    .title h1 {
        font-size: 36px;
        padding: 8px 30px;
    }

    .login-btn,
    .signup-btn {
        width: 160px;
        font-size: 18px;
    }
}

@media (max-width: 1024px) {
    .title h1 {
        font-size: 32px;
        padding: 8px 25px;
    }

    .login-btn,
    .signup-btn {
        width: 140px;
        font-size: 16px;
    }

    .buttons {
        gap: 50px;
    }
}

@media (max-width: 768px) {
    .title h1 {
        font-size: 28px;
        padding: 6px 20px;
    }

    .login-btn,
    .signup-btn {
        width: 130px;
        font-size: 15px;
    }

    .form-quenmk {
        padding: 20px;
    }

    input[type="email"],
    input[type="password"] {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .title h1 {
        font-size: 24px;
        padding: 5px 15px;
    }

    .login-btn,
    .signup-btn {
        width: 120px;
        font-size: 14px;
    }

    .form-quenmk input[type="email"],
    .form-quenmk input[type="password"] {
        padding: 8px;
    }

    .buttons {
        gap: 10px;
    }
}