/*
    Cấu hình một số thuộc tính cơ bản cho trang web
*/

* {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
    color: black;
    margin: 0;
}

html {
    box-sizing: border-box;
}

img,
picture {
    display: block;
    max-width: 100%;
}

input {
    line-height: normal;
}

input,
textarea,
select,
button {
    font: inherit;
    font-size: 14px;
    outline: none;
}

label,
button {
    cursor: pointer;
}

ul,
ol {
    list-style: none;
}