/* Nền và bố cục của Header trên */
.bg-header-top {
  background-color: #f15a29;
}

.header-top-container {
  display: flex;
}

/* Logo của UEH */
.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-brand-logo {
  width: 220px;
  height: auto;
}

/* Biểu tượng địa chỉ, SĐT, Facebook */
.navbar-header-logo {
  width: 24px;
  height: auto;
  margin-right: 0.6rem;
}

/* Tên STATIONERY */
.navbar-brand-text {
  font-family: "Baloo";
  color: white;
  font-size: 40px;
  font-weight: 400;
  text-shadow: -1px -1px 0 #005f69, 1px -1px 0 #005f69, -2px 2px 0 #005f69,
    2px 2px 0 #005f69;
}

/* Thanh tìm kiếm */
/* Nền thanh tìm kiếm */
.search-container {
  flex-grow: 1;
  max-width: 400px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
}

/* Dữ liệu người dùng nhập */
.search-input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 28px;
  padding: 12px 40px;
  font-size: 1rem;
}

/* Biểu tượng của thanh tìm kiếm */
.search-icon {
  position: absolute;
  left: 18px;
  font-size: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-btn {
  height: 20px;
  width: 20px;
  border: none;
  background: transparent;
  position: absolute;
  right: 18px;
  font-size: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Menu thả xuống cho thanh tìm kiếm */
.searchbar-dropdown {
  position: absolute;
  top: 80%;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.searchbar-dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border-radius: 0 0 20px 20px;
  border: 2px solid #ccc;
  border-top: none;
  padding: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto;
}

.searchbar-dropdown-item {
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
}

.searchbar-dropdown-item a {
  text-decoration: none;
  color: black;
}

.searchbar-dropdown-item:last-child {
  border-bottom: none;
}

.searchbar-dropdown-item:hover {
  background-color: #f1f1f1;
}

/* Vị trí của các biểu tượng địa chỉ, SĐT, Facebook */
.toolbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/* Chứa các biểu tượng địa chỉ, SĐT, Facebook */
.icon-container {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Các biểu tượng địa chỉ, SĐT, Facebook */
.icon-container i {
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  height: 44px;
  width: 44px;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-container i:hover {
  background-color: white;
  color: #f15a29;
  transition: all 0.3s ease;
}

/* Ngôn ngữ */
.language-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.locale-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  padding: 4px 15px;
  cursor: pointer;
  color: #0d6660;
  font-size: 18px;
  height: 50px;
}

.locale-switcher:hover {
  background-color: white;
  color: #005f69;
  transition: all 0.3s ease;
}

.active-language {
  font-weight: bold;
}

/* Responsive cho cỡ chữ tiêu đề của trang web */
@media (max-width: 768px) {
  .navbar-brand-text {
    font-size: 26px;
  }

  .search-container {
    flex-grow: 1;
    width: 100%;
    max-width: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-items: center;
  }
}

/* Header dưới */
.bg-header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #005f69;
  padding: 0;
  margin: 0;
}

.navbar-nav {
  height: 100%;
  width: 100%;
}

.nav-link {
  color: white;
  font-size: 20px;
  padding: 10px 15px;
}

.nav-link i {
  margin-right: 8px;
}

.nav-item {
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 24px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  flex-grow: 1;
  height: 100%;
  font-family: "Roboto";
}

.nav-item:hover .nav-link {
  color: #f15a29;
}

.dropdown-menu {
  margin: 0;
  background-color: white;
  width: 100%;
  position: absolute;
  border: none;
  border-radius: 0;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  color: black;
}

.dropdown-item:hover {
  background-color: #ece6f0;
}

.dropdown-item:last-child {
  border-bottom: none;
}

.vertical-divider {
  border-right: 2px solid white;
  height: 100%;
}

.nav-item.dropdown {
  position: relative;
}

.header-bottom-container {
  display: flex;
}
